body {
  background-color: #393E46;
  text-align: center;
}

.Big-Heading {
  font-size: 8rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  margin: 30px;
}

.players {
  width: 70%;
  margin: auto;
}

.Player-1, .Player-2 {
  color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  display: inline-block;
}

 .player1-dice, .player2-dice {
  display: inline-block;
  width: 80%;
}

.my-footer {
  color : #EEEEEE;
  font-family: 'Indie Flower', cursive;
  margin-top: 5%;
}
